/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 30px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
  border-bottom: 2px solid #333;
  padding-bottom: 10px;
}

ul {
  list-style-type: square;
  padding-left: 20px;
}

a {
  color: #007BFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
  position: relative;
  bottom: 0;
  width: 100%;
}

/* Quiz Styles */
#quiz-questions {
  margin-top: 10px;
}

#quiz-feedback {
  font-weight: bold;
  margin-top: 10px;
}

/* Graph Styles */
#scatterPlot {
  max-width: 600px;
  margin: 0 auto;
}